@mixin baseButton($white, $accent: $white, $width:10em) {
	font: $font-btn-mb;
  padding: .8em 1em;
	color: $white;
	border: 1px solid rgba($white, 0.5);
	border-radius: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
  width: $width;
  margin-bottom: 0.3em;
  gap: .3em;
}
